@model SignSupportDemo.Pages.SignModel

<body onload='document.redirectform.submit();'>
    <form id='redirectform' name='redirectform' action='https://dss-dev.go.nexusgroup.com/54b35d04-d416-453f-956c-48da76544eaa/sign' method='post' accept-charset='UTF-8'>
        <div>
            <input type='hidden' name='Binding' value='POST/XML/1.0'>
            <input type='hidden' name='EidSignRequest' value='@Model.SignRequestGenerationResponse.SignRequest' />
            <input type='hidden' name='RelayState' value='@Model.SignRequestGenerationResponse.RelayState' />
        </div>
        <noscript>
            <div style='text-align:center;'>
                <p>
                    <strong>Note:</strong>&nbsp;Because your browser does not support JavaScript, you must press the Continue button once to proceed.
                </p>
                <input style='font-size:1.5em;' type='submit' value='Continue' />
            </div>
        </noscript>
    </form>
</body>
