@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Federated Signing</h1>
    <p>This is a demo application for <i>Nexus GO Federated Signing</i></p>
    <p class="lead">
        Go ahead and try out <a asp-page="/Sign">Federated Signing</a>
    </p>
</div>
