@page
@model SignSupportDemo.Pages.SignModel
@{
    ViewData["Title"] = "Sign documents";
}

@if (Model.SignSupportError != null)
{
    Html.RenderPartial("SignSupportError");
}
else if (Model.GeneralError != null)
{
    Html.RenderPartial("GeneralError");
}
else
{
    @section Scripts {
        <script type="text/javascript" src="@Url.Content("/lib/bootstrap-fileinput/js/fileinput.js")"></script>
        <script>
            $(function () {
                'use strict';

                $("#SignFormData_Documents").fileinput({
                    showUpload: false,
                    dropZoneEnabled: false,
                    maxFilePreviewSize: 1024,
                    maxFileSize: 1024,
                    layoutTemplates: {
                        main1: "{preview}\n" +
                            "<div class=\'input-group {class}\'>\n" +
                            "   <div class=\'input-group-btn\ input-group-prepend'>\n" +
                            "       {browse}\n" +
                            "       {upload}\n" +
                            "       {remove}\n" +
                            "   </div>\n" +
                            "   {caption}\n" +
                            "</div>"
                    }
                });

                $('.panel-collapse').on('show.bs.collapse', function () {
                    $(this).siblings('.panel-heading').addClass('active');
                });
                $('.panel-collapse').on('hide.bs.collapse', function () {
                    $(this).siblings('.panel-heading').removeClass('active');
                });


                if ($("#redirectform").get(0) != null) {
                    $('.nexus-overlay').removeClass('display-none');
                } else {
                    $('.nexus-overlay').addClass('display-none');
                }

                $('.accordion').css('visibility', 'visible');

                $('.toggle').click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    if ($this.next().hasClass('show')) {
                        $this.next().removeClass('show');
                    } else {
                        $this.parent().parent().find('li .inner').removeClass('show');
                        $this.next().toggleClass('show');
                    }
                });

                $("#signform").click(function (event) {
                    $('.nexus-overlay').removeClass('display-none');
                });
            });
        </script>
    }

    <div class="nexus-overlay">
        <div class="nexus-spinner"></div>
    </div>

    <h3>Sign documents</h3>
    <p>
        This demonstrates how to sign documents using the
        <a href="https://hub.docker.com/r/technologynexus/sign-support">Sign support</a> with
        <a href="https://doc.nexusgroup.com/display/PUB/Get+started+with+Nexus+GO+Federated+Signing">Nexus GO Federated Signing</a>
    </p>

    Html.RenderPartial("SignForm");

    if (Model.SignRequestGenerationResponse != null)
    {
        Html.RenderPartial("AutoSubmitSignForm");
    }
}
